.skeworiginal
{
	background-color: #5A9596;
    width: 200px;
    height: 200px;
    margin: auto;
    color: white;
    font-family: "Helvetica";
    font-size: 32px;
    text-align: center;
    padding-top: 70px;	
    margin-top: 100px;
    margin-bottom: 100px;
}

.skew
{
	background-color: #5A9596;
    -ms-transform: skewX(15deg); /* IE 9 */
    -webkit-transform: skewX(15deg); /* Safari */
    transform: skewX(15deg);
    width: 200px;
    height: 200px;
    margin: auto;
    color: white;
    font-family: "Helvetica";
    font-size: 32px;
    text-align: center;
    padding-top: 50px;	
    margin-top: 100px;
    margin-bottom: 100px;
}

.scaleoriginal{
	background-color: #5A9596;
    width: 150px;
    height: 100px;
    margin: auto;
    color: white;
    font-family: "Helvetica";
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 30px;
}

.scale{
	background-color: #5A9596;
    -ms-transform: scale(3,1.5); /* IE 9 */
    -webkit-transform: scale(3,1.5); /* Safari */
    transform: scale(3,1.5); /* Standard syntax */
    width: 150px;
    height: 100px;
    margin: auto;
    color: white;
    font-family: "Helvetica";
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.translate1{
	background-color: #5A9596;
    width: 250px;
    height: 100px;
    margin: auto;
    color: white;
    font-family: "Helvetica";
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    
}

.translate2{
	background-color: #5A9596;
    -ms-transform: translate(200px,10px); /* IE 9 */
   	-webkit-transform: translate(200px,10px); /* Safari */
    transform: translate(200px,10px);
    width: 250px;
    height: 100px;
    margin: auto;
    color: white;
    font-family: "Helvetica";
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
     
}

.rotationoriginal{
	background-color: #5A9596;
	width: 250px;
    height: 100px;
    margin: auto;
    color: white;
    font-family: "Helvetica";
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.rotation{
	background-color: #5A9596;
	width: 250px;
    height: 100px;
    margin: auto;
    color: white;
    font-family: "Helvetica";
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    -ms-transform: rotateX(50deg); /* IE 9 */
    -webkit-transform: rotateX(50deg); /* Safari */
    transform: rotateX(50deg);
}

.matrixoriginal{
	background-color: #5A9596;
	width: 250px;
    height: 100px;
    margin: auto;
    color: white;
    font-family: "Helvetica";
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.matrix{
	background-color: #5A9596;
	width: 250px;
    height: 100px;
    margin: auto;
    color: white;
    font-family: "Helvetica";
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
	-ms-transform: matrix(1, -0.3, 0, 1, 0, 0); /* IE 9 */
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0); /* Safari */
    transform: matrix(1, -0.3, 2, 1, 0, 5);
}


.rotation3D{
	background-color: #5A9596;
	width: 250px;
    height: 100px;
    margin: auto;
    color: white;
    font-family: "Helvetica";
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
	-webkit-transform: rotateZ(90deg); /* Safari */
    transform: rotateZ(90deg);
}
 







