/*
Feuille de style additionnelle

Auteur: Aurélien Grimaud

AutURI: http://ineedvitamins.fr/

@ineedVitamins
*/

/*
TUTORIEL
___________
*/

*.doneBg {
	background: #228B22 !important;
}

*.hotBg {
	background: #DC143C !important;
}

*.tomatoBg {
	background: tomato !important;
}

*.whiteColor {
	color: #fff;
}

/* ajustement */
*.airL {
	padding: 10.0rem 0;
}
*.airLU {
	padding: 10.0rem 0 0;
}
*.airLD {
	padding: 0 0 10.0rem;
}

*.airS {
	padding: 3.0rem 0;
}
*.airSU {
	padding: 3.0rem 0 0;
}
*.airSD {
	padding: 0 0 3.0rem;
}

*.airArt article {
	margin: 0 0 5.0rem;
}
*.airArt article:last-child {
	margin: 0;
}

/* animation */
.animation {
	transition: .2s all ease-out;
		-moz-transition: .2s all ease-out;
			-webkit-transition: .2s all ease-out;
}

/* échantillons */
p.largeF {
	font-size: 3.6rem !important;
}

p.mediumF {
	font-size: 2.4rem !important;
}

p.smallF {
	font-size: 1.4rem !important;
}

/* flexboxes */
*.flex {
	display: flex;
		display: -webkit-flex;
				display: -ms-flexbox;
}

*.flexColumnWrap {
	flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
			-moz-flex-flow: row wrap;
				-ms-flex-flow: row wrap;
}
*.flexColumnRWrap {
	flex-flow: row wrap;
		-webkit-flex-flow: row wrap-reverse;
				-ms-flex-flow: row wrap-reverse;
}
*.flexColumnNoWrap {
	flex-flow: row nowrap;
		-webkit-flex-flow: row nowrap;
				-ms-flex-flow: row nowrap;
}

*.flexListWrap {
	flex-flow: column wrap;
		-webkit-flex-flow: column wrap;
				-ms-flex-flow: column wrap;
}
*.flexListRWrap {
	flex-flow: column wrap;
		-webkit-flex-flow: column wrap-reverse;
				-ms-flex-flow: column wrap-reverse;
}
*.flexListNoWrap {
	flex-flow: column nowrap;
		-webkit-flex-flow: column nowrap;
				-ms-flex-flow: column nowrap;
}

/* origine items */
*.justifyLeft {
	justify-content: flex-start;
		-webkit-justify-content: flex-start;
				-ms-justify-content: flex-start;
}
*.justifyRight {
	justify-content: flex-end;
		-webkit-justify-content: flex-end;
				-ms-justify-content: flex-end;
}
*.justifyCenter {
	justify-content: center;
		-webkit-justify-content: center;
				-ms-justify-content: center;
}
*.justifySB {
	justify-content: space-between;
		-webkit-justify-content: space-between;
				-ms-justify-content: space-between;
}
*.justifySA {
	justify-content: space-around;
		-webkit-justify-content: space-around;
				-ms-justify-content: space-around;
}

/* alignement items */
*.alignUp {
	align-items: flex-start;
		-webkit-align-items: flex-start;
				-ms-align-items: flex-start;
}
*.alignDown {
	align-items: flex-end;
		-webkit-align-items: flex-end;
				-ms-align-items: flex-end;
}
*.alignCenter {
	align-items: center;
		-webkit-align-items: center;
				-ms-align-items: center;
}
*.alignBase {
	align-items: baseline;
		-webkit-align-items: baseline;
				-ms-align-items: baseline;
}
*.alignStretch {
	align-items: stretch;
		-webkit-align-items: stretch;
				-ms-align-items: stretch;
}

/* alignement indiiduel */
*.alignSelfUp {
	align-self: flex-start;
		-webkit-align-self: flex-start;
				-ms-align-self: flex-start;
}
*.alignSelfDown {
	align-self: flex-end;
		-webkit-align-self: flex-end;
				-ms-align-self: flex-end;
}

/* colonnes */
*.equalCol {
	flex: 1;
		-webkit-flex: 1;
				-ms-flex: 1;
}

*.smartCol {
	flex: 1 1 30%;
		-webkit-flex: 1 1 30%;
				-ms-flex: 1 1 30%;
}

*.sCol {
	flex: 0 1 5.0rem;
		-webkit-flex: 0 1 5.0rem;
				-ms-flex: 0 1 5.0rem;
}

*.sysCol1 {
	flex: 0 1 8.33%;
		-webkit-flex: 0 1 8.33%;
				-ms-flex: 0 1 8.33%;
}
*.sysCol2 {
	flex: 0 1 16.66%;
		-webkit-flex: 0 1 16.66%;
				-ms-flex: 0 1 16.66%;
}
*.sysCol3 {
	flex: 0 1 25%;
		-webkit-flex: 0 1 25%;
				-ms-flex: 0 1 25%;
}
*.sysCol4 {
	flex: 0 1 33.33%;
		-webkit-flex: 0 1 33.33%;
				-ms-flex: 0 1 33.33%;
}
*.sysCol6 {
	flex: 0 1 50%;
		-webkit-flex: 0 1 50%;
				-ms-flex: 0 1 50%;
}
*.sysCol8 {
	flex: 0 1 66.66%;
		-webkit-flex: 0 1 66.66%;
				-ms-flex: 0 1 66.66%;
}
*.sysCol10 {
	flex: 0 1 83.33%;
		-webkit-flex: 0 1 83.33%;
				-ms-flex: 0 1 83.33%;
}
*.sysCol12 {
	flex: 0 0 100%;
		-webkit-flex: 0 1 100%;
				-ms-flex: 0 1 100%;
}

/* ordre */
*.first {
	order: -1;
		-webkit-order: -1;
}
*.middle {
	order: 1;
		-webkit-order: 1;
}
*.last {
	order: 2;
		-webkit-order: 2;
}

/* extermination de bordure */
figure.expl {
	border: none;
}

/*
Classique
*/
ul.flexDemo {
	width: 100%; height: auto;
	background: #97FFB1;
	padding: 1.0rem;
	list-style-image: none; list-style: none;
}

ul.flexDemo li p {
	margin: .5rem; padding: 1.5rem 0;
	background: #fff;
	font-size: 1.8rem;
	height: calc(100% - 1.0rem);
}

ul.enlarge {
	height: 30.0rem;
}

/*
Liste
*/
ul.listDemo, ul.navDemo {
	width: 100%; height: auto;
	background: #97FFB1;
	list-style-image: none; list-style: none;
}

ul.listDemo li {
	border-bottom: .1rem solid #a9a9a9;
}

ul.listDemo li p {
	padding: 1.5rem 1.5rem; margin: 0;
	background: #fff;
	font-size: 1.8rem;
}

/*
Barre de navigation
*/
ul.navDemo li {
	cursor: pointer;
}

ul.navDemo li a {
	display: block;
	padding: 2.5rem 1.5rem;; margin: 0;
	text-align: center;
	background: transparent;
	font-size: 1.5rem; font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	color: #11141c;
}

ul.navDemo li:hover {
	background: #fff;
}
ul.navDemo li:hover a {
	color: tomato;
	text-decoration: none;
}

/*
Grille Masonry
*/
ul.gridDemo {
	width: 100%; height: 304.0rem;
	background: transparent;
	list-style-image: none; list-style: none;
}

ul.gridDemo li.largeC {
	width: 100%;
}
ul.gridDemo li.mediumC {
	width: 66.66%;
}
ul.gridDemo li.smallC {
	width: 33.33%;
}

ul.gridDemo li .wrapper {
	margin: .5rem;
	position: relative;
	overflow: hidden;
}

ul.gridDemo li .wrapper img {
	width: 100%; height: auto;
}

ul.gridDemo li .wrapper span {
	display: block;
	width: 100%;
	background: #696969;
	position: absolute;
	bottom: -13.8rem; right: 0;
	padding: 3.0rem 1.0rem;
}
ul.gridDemo li:hover .wrapper span {
	bottom: 0;
}

ul.gridDemo li .wrapper span p {
	margin: 0 0 1.0rem;
	font-size: 1.8rem; font-weight: 700;
	color: #fff;
}

ul.gridDemo li .wrapper span button {
	border: none; outline: none;
	background: #97FFB1;
	width: 100%;
	height: 4.0rem;
	font-size: 1.4rem; font-weight: 700;
	text-transform: uppercase;
	color: #696969;
}
ul.gridDemo li .wrapper span button:hover {
	background: tomato;
	color: #fff;
}

/*
Grille Responsive
*/
ul.ultraGridDemo {
	list-style-image: none; list-style: none;
	padding: 0;
	background: #97FFB1;
}

ul.ultraGridDemo li .itemWrapper {
	padding: 2.5rem; margin: 1.5rem;
	background: #fff;
	font-size: 1.8rem;
}

ul.ultraGridDemo li .itemWrapper h3 {
	color: tomato;
	margin: 0 0 1.5rem;
	font-weight: 700;
	text-align: left;
}

figure.relative {
	position: relative;
}

span.resizeMe {
	position: absolute;
	z-index: 2;
	right: -8.0rem; top: 50%;
	font-size: 1.6rem; font-weight: 500;
	letter-spacing: .3rem;
	text-transform: uppercase;
	color: #97FFB1;
	transform: rotate(-90deg) translateY(-50%);
		-webkit-transform: rotate(-90deg) translateY(-50%);
			-moz-transform: rotate(-90deg) translateY(-50%);
}
span.resizeMe::after {
	content: "\f07d";
	font: 2.4rem 'Font Awesome';
	color: #97FFB1;
	margin: 0 0 0 1.5rem;
	transform: translateY(.5rem);
		-webkit-transform: translateY(.5rem);
			-moz-transform: translateY(.5rem);
}

/*
Adaptive
*/
@media only screen and (max-width: 64em) {

	/* grid demo */
	ul.gridDemo li .wrapper span {
		display: none;
	}

}

@media screen and (max-width: 45em) {

	ul.ultraGridDemo li.sysCol8,
	ul.ultraGridDemo li.sysCol4,
	ul.ultraGridDemo li.sysCol3,
	ul.ultraGridDemo li.sysCol6 {
		flex: 0 1 100%;
			-webkit-flex: 0 1 100%;
				-moz-box-flex: 0 1 100%;
					-ms-flex: 0 1 100%;
	}

	span.resizeMe {
		display: none;
	}

}