body{
	background-color: #11141c;
	padding-top: 50px;
}

.container{
	background-color: #11141c;
	width: 1000px;
	height: 200px;
	padding-left: 30px;
	padding-right: 30px;
}

.container p{
	text-align: left;
	padding-top: 20px;
	padding-left: 20px
}

.container h1, h2{
	text-align: center;
	color: #5a9596;
	width: 50px;
	padding-bottom: 50px;
}


/*
Possibilité de codé comme ceci pour ne pas répéter les mêmes choses concernant les atributs des classes communs:


.shadow1, .shadow2, .shadow3, .shadow4, .shadow5, .shadow6, .shadow7, .shadow8, .shadow9, .shadow10, .shadow11, .shadow12{
	background-color: white;
	height: 100px;
	margin-bottom: 50px;
}


*/


.shadow1{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: -5px -5px #888;
		-moz-box-shadow: -5px -5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: -5px -5px #888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: -5px -5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: -5px -5px #888; /* prefixe (-o) pour opera*/
}

.shadow2{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: -5px -5px 5px #888;
		-moz-box-shadow: -5px -5px 5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: -5px -5px 5px #888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: -5px -5px 5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: -5px -5px 5px #888; /* prefixe (-o) pour opera*/

}

.shadow3{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: -5px -5px 0 5px #888;
		-moz-box-shadow: -5px -5px 0 5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: -5px -5px 0 5px#888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: -5px -5px 0 5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: -5px -5px 0 5px #888; /* prefixe (-o) pour opera*/
}

.shadow4{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: -5px -5px 5px 5px #888;
		-moz-box-shadow: -5px -5px 5px 5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: -5px -5px 5px 5px#888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: -5px -5px 5px 5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: -5px -5px 5px 5px #888; /* prefixe (-o) pour opera*/
}

.shadow5{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: 0 0 5px #888;
		-moz-box-shadow: 0 0 5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: 0 0 5px#888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: 0 0 5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: 0 0 5px #888; /* prefixe (-o) pour opera*/
}

.shadow6{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: 0 0 5px 5px #888;
		-moz-box-shadow: 0 0 5px 5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: 0 0 5px 5px#888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: 0 0 5px 5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: 0 0 5px 5px #888; /* prefixe (-o) pour opera*/
}


.shadow7{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: 0 0 5px 5px #888;
		-moz-box-shadow: 0 0 5px 5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: 0 0 5px 5px#888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: 0 0 5px 5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: 0 0 5px 5px #888; /* prefixe (-o) pour opera*/
}


.shadow8{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: inset -5px -5px 5px #888;
		-moz-box-shadow: inset -5px -5px 5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: inset -5px -5px 5px #888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: inset -5px -5px 5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: inset -5px -5px 5px #888; /* prefixe (-o) pour opera*/
}


.shadow9{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: inset -5px -5px 0 5px #888;
		-moz-box-shadow: inset -5px -5px 0 5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: inset -5px -5px 0 5px#888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: inset -5px -5px 0 5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: inset -5px -5px 0 5px #888; /* prefixe (-o) pour opera*/
}


.shadow10{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: inset 0 0 5px #888;
		-moz-box-shadow: inset 0 0 5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: inset 0 0 5px#888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: inset 0 0 5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: inset 0 0 5px #888; /* prefixe (-o) pour opera*/
}

.shadow11{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: inset 0 0 5px 5px #888;
		-moz-box-shadow: inset 0 0 5px 5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: inset 0 0 5px 5px#888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: inset 0 0 5px 5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: inset 0 0 5px 5px #888; /* prefixe (-o) pour opera*/
}

.shadow12{
	background-color: white;
	height: 300px;
	margin-bottom: 50px;

	box-shadow: inset 0 0 5px 5px #888;
		-moz-box-shadow: inset 0 0 5px 5px #888; /* prefixe (-moz) pour firefox*/
		-webkit-box-shadow: inset 0 0 5px 5px#888; /* prefixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: inset 0 0 5px 5px #888; /* prefixe (-ms) pour internet explorer*/
		-o-box-shadow: inset 0 0 5px 5px #888; /* prefixe (-o) pour opera*/
}




.shadow13{
	background-color: white;
	height: 300px;
	margin-top: 60px;
	margin-bottom: 50px;

	box-shadow: 0 0 10px 5px black, 40px -30px lime, 40px 30px 50px red, -40px 30px yellow, -40px -30px 50px blue; 
		-moz-box-shadow: 0 0 10px 5px black, 40px -30px lime, 40px 30px 50px red, -40px 30px yellow, -40px -30px 50px blue; /* préfixe (-moz) pour firefox*/
		-webkit-box-shadow: 0 0 10px 5px black, 40px -30px lime, 40px 30px 50px red, -40px 30px yellow, -40px -30px 50px blue; /* préfixe (-webkit) pour chrome-opera-safari*/
		-ms-box-shadow: 0 0 10px 5px black, 40px -30px lime, 40px 30px 50px red, -40px 30px yellow, -40px -30px 50px blue; /* préfixe (-ms) pour internet explorer*/
		-o-box-shadow: 0 0 10px 5px black, 40px -30px lime, 40px 30px 50px red, -40px 30px yellow, -40px -30px 50px blue; /* préfixe (-o) pour opera*/
}