

html{
    background-color: #edf7eb;
    font-family: 'Open Sans', sans-serif;
}

body{
   
    background-color: #ffffff;
     font-family: 'Open Sans', sans-serif;
}

.container{

	padding-left: 20%;
	padding-right: 20%;
}

.presentation{
     background-color: #edf7eb;


}



.title {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', 700;
 }   

 .title2 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
    font-size: 30px;
    font-family:'Open Sans', 300;
 }   

.discription{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
    font-size: 18px;
    background-color: #d6e3df;
    padding: 10px 10px 10px 10px;
    font-family: 'Open Sans', 400;
    border-radius: 10px;

}

.example{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-family: 'Open Sans', 300;
}

.example_text{
    font-size: 14px;
    font-family: 'Open Sans', 300;

}

.note{
    font-size: 14px;
    color: #88ab83;
    font-family: 'Open Sans', 300;

}

.code_title{
    font-size: 20px;
    color: #4d6357;
    font-family: 'Open Sans', 700;

}

.Degrade1 {
background-image:linear-gradient(to bottom, blue, red);
padding: 100px;
margin-bottom: 20px;

}

.Degrade2 {
background:linear-gradient(to right,blue , red );
}

figure.expl{border: none;height:200px;}
.Degrade3 {
background-image:linear-gradient(to right,blue 10px, red 90px);
padding: 100px;
margin-bottom: 20px;

}

.Degrade4 {
background-image:linear-gradient(30deg,blue, red);
padding: 100px;
margin-bottom: 20px;

}
.Degrade5 {
background: radial-gradient(ellipse at center top, red, blue);
padding: 100px;
margin-bottom: 20px;
}

.Degrade6 {
background: radial-gradient(closest-side at 10% 55%,red,blue);

padding: 100px;
margin-bottom: 20px;

}
.Degrade7 {
background: linear-gradient(to right,blue,rgba(255,0,0,0));
padding: 100px;
margin-bottom: 20px;
}
.Degrade8 {
background: linear-gradient(to right,blue,red,yellow,green);
padding: 100px;
margin-bottom: 20px;
}

.backimg{background-image: url("../images/box-gradient.png");
padding-top: 100px;
background-repeat:no-repeat;
background-position: 50% 50%;
width:100%;}

.backimg2{background-image: url("../images/box-gradient-2.png");
padding-top: 100px;
background-repeat:no-repeat;
background-position: 50% 50%;
width:100%;}


.backimg3{background-image: url("../images/box-gradient-4.png");
padding-top: 100px;
background-repeat:no-repeat;
background-position: 50% 50%;
width:100%;}


.backimg4{background-image: url("../images/box-gradient-5.png");
padding-top: 100px;
background-repeat:no-repeat;
background-position: 50% 50%;
width:100%;
 }

figure.expl{height:350px;

}



.chiffre{

    font-size: 50px;
    font-family: 'Open Sans', 800;
padding-left: 110px;

}

.chiffre2{

    font-size: 50px;
    font-family: 'Open Sans', 800;
padding-left: 240px;

}


.chiffre3{

    font-size: 50px;
    font-family: 'Open Sans', 800;
padding-left:240px;


}

.chiffre4{

    font-size: 50px;
    font-family: 'Open Sans', 800;
padding-left:250px;


}

.chiffre5{

    font-size: 50px;
    font-family: 'Open Sans', 800;
padding-left: 250px;

}

.buton{

font-family: Open Sans, 300;
display: inline-block;
color: #88ab83;
background-color: #ffffff;
font-weight: bold;
font-size: 18px;
text-align: center;
padding: 10px 40px 10px 40px;
text-decoration: none;
margin-left: 20%;
margin-top: 100px;
margin-bottom: 30px;
border: 2px solid #88ab83;
border-radius: 0px;
white-space: nowrap;
}

.code{
    background-color: #ffffff;
    border: 2px solid #88ab83;
    padding: 30px;
    font-family: Open Sans 300;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px #d6e3df inset;
    font-size: 14px;
    margin-bottom: 30px;
}

/*--------code box-----------*/
.code_div{
    color: #4d6357;
}
.code_theme{
    color: #88ab83;
}
.code_valeur{
    color: brown
}
.code_explication{
    color: #8b8b8b;
}


/*------transition css examples---------*/
.example1_code1{
    text-align: center;
    padding: 10px;
    font-family: Open Sans, 700;
    color: #ffffff;
    width: 100px;
    height: 30px;
    background: #9cb9b4;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
     -o-transition: width 2s; /* For Opera 10.5 to 12.1 */
      -moz-transition: width 2s; /* For Firefox 4.0 to 16.0 */
    transition: width 2s;
}

.example1_code1:hover{
    width: 300px;
    background-color: #88ab83;
}

.example1_code2{
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    font-family: Open Sans, 700;
    color: #ffffff;
    width: 100px;
    height: 30px;
    background: #9cb9b4;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
     -o-transition: width 2s; /* For Opera 10.5 to 12.1 */
      -moz-transition: width 2s; /* For Firefox 4.0 to 16.0 */
    transition: width 2s;
}

.example1_code2:hover{
    width: 500px;
    background-color: #4d6357;
}

.example2_code{
    background-color: #9cb9b4;
    width: 100px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    -webkit-transition-property: color;/* For Safari 3.1 to 6.0 */
    -webkit-transition-duration: 2s;/* For Safari 3.1 to 6.0 */
     -o-transition-property: color;/* For Opera 10.5 to 12.1 */
     -o-transition-duration: 2s;/* For Opera 10.5 to 12.1 */
      -moz-transition-property: color;/* For Firefox 4.0 to 16.0 */
      -moz-transition-duration: 2s;/* For Firefox 4.0 to 16.0 */
    transition-property: color;
    transition-duration: 1s;
}

.example2_code:hover{
    background-color: #ffffff;
    border: 2px solid #88ab83;
    color: #88ab83;
}


.example3_code{
    font-size: 40px;
    font-family: Open Sans 700;
    color: #88ab83;
    -webkit-transition-property: padding-left;/* For Safari 3.1 to 6.0 */
    -webkit-transition-duration: 1s;/* For Safari 3.1 to 6.0 */
    -webkit-transition-timing-function: ease-in;/* For Safari 3.1 to 6.0 */
     -o-transition-property: padding-left;/* For Opera 10.5 to 12.1 */
     -o-transition-duration: 1s;/* For Opera 10.5 to 12.1 */
     -o-transition-timing-function: ease-in;/* For Opera 10.5 to 12.1 */
      -moz-transition-property: padding-left;/* For Firefox 4.0 to 16.0 */
      -moz-transition-duration: 1s;/* For Firefox 4.0 to 16.0 */
      -moz-transition-timing-function: ease-in;/* For Firefox 4.0 to 16.0 */
    transition-property: padding-left;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.example3_code:hover{
    color: #4d6357;
    padding-left: 350px;
}



.example4_code img {
    width: 30%;
    height: 30%;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 50px;
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
}

.example4_code img {
    -webkit-transition: all .5s ease-out;/* For Safari 3.1 to 6.0 */
     -o-transition: all .5s ease-out;/* For Opera 10.5 to 12.1 */
      -moz-transition: all .5s ease-out;/* For Firefox 4.0 to 16.0 */
    transition: all .5s ease-out;
}

.example4_code:hover img {
    width: 30%;
    height: 30%;
    -webkit-transform: scale(1.2);/* For Safari 3.1 to 6.0 */
     -o-transform: scale(1.2);/* For Opera 10.5 to 12.1 */
      -moz-transform: scale(1.2);/* For Firefox 4.0 to 16.0 */
    transform: scale(1.2);
}




.example5_code {
    border-style: solid #88ab83;
    border-width: 2px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #4d6357;
    border-radius: 10px;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;/* For Safari 3.1 to 6.0 */
     -o-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;/* For Opera 10.5 to 12.1 */
      -moz-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;/* For Firefox 4.0 to 16.0 */
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}
.example5_code:hover {
    background-color: #9cb9b4;
    width:200px;
    height:200px;
    -webkit-transform:rotate(180deg);/* For Safari 3.1 to 6.0 */
     -o-transform:rotate(180deg);/* For Opera 10.5 to 12.1 */
      -moz-transform:rotate(180deg);/* For Firefox 4.0 to 16.0 */
    transform:rotate(180deg);
}