@media screen and (max-width: 727px) {



.container6 {
  margin-top: 0;
  padding-top: 50px;
  
  padding-bottom: 50px;
  
  height: 1250px;
}

 .container7 {
  margin-top: 0px;
  background-color: white;
  height: 1700px;
}



.large-4{
  width: 100%;
  text-align: center;
}

.large-3{
  width: 50%;
  margin: 50px 0 50px 0;

}

.menuButton:hover {
  position: absolute;
  transition-property: background-color, color, border;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  transform: scale(1.075);
  background-color:white;
  color:#5A9596;
  border: solid 3px #5A9596;
}

  .ext { 
  perspective: 1000; 
}

.ext,
.front,
.back { height: 130px; width: 95px; margin: 0 auto; margin-bottom: -20px; margin-top: -20px;  }

.ext:hover .int, 
.ext.hover .int { 
  transform: rotateY(180deg); 
}

.int { 
  transition: .75s;
  transform-style: preserve-3d;
}

.front, 
.back {
  backface-visibility: hidden;
  position: absolute; top: 0; left: 0;
}

.front { 
  z-index: 2;
   
}

.back { 
  transform: rotateY(180deg);
  background: #5A9596; 
  text-align: center;
  font-size: 20px;
  color: white;
  padding-top:50px;
}

}



@media screen and (min-width: 728px) and (max-width: 1049px) {
	.container6 {
  margin-top: 0;
  padding-top: 50px;
  
  padding-bottom: 50px;
  
  height:1180px;
}
.container7 {
  margin-top: 0px;
  background-color: white;
  height: 1500px;
}

.large-4{
  width: 50%;
  text-align: center;
}

.large-3{
  width: 50%;
  margin: 50px 0 50px 0;

}

.menuButton:hover {
  position: absolute;
  transition-property: background-color, color, border;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  transform: scale(1.1);
  background-color:white;
  color:#5A9596;
  border: solid 3px #5A9596;
}

  .ext { 
  perspective: 1000; 
}

.ext,
.front,
.back { height: 200px; width: 150px; margin: 0 auto; margin-bottom: -40px; margin-top: -30px;  }

.ext:hover .int, 
.ext.hover .int { 
  transform: rotateY(180deg); 
}

.int { 
  transition: .75s;
  transform-style: preserve-3d;
}

.front, 
.back {
  backface-visibility: hidden;
  position: absolute; top: 0; left: 0;
}

.front { 
  z-index: 2;
   
}

.back { 
  transform: rotateY(180deg);
  background: #5A9596; 
  text-align: center;
  font-size: 26px;
  color: white;
  padding-top:80px;
}

}




@media screen and (min-width: 1050px) {

   .ext { 
  perspective: 1000; 
}

.ext,
.front,
.back { height: 260px; width: 190px; margin: 0 auto; margin-top: 30px;}

.ext:hover .int, 
.ext.hover .int { 
  transform: rotateY(180deg); 
}

.int { 
  transition: .75s;
  transform-style: preserve-3d;
}

.front, 
.back {
  backface-visibility: hidden;
  position: absolute; top: 0; left: 0;
}

.front { 
  z-index: 2;
   
}

.back { 
  transform: rotateY(180deg);
  background: #5A9596; 
  text-align: center;
  font-size: 36px;
  color: white;
  padding-top:100px;
}
	
}